{# templates/registration/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <h1>Registration Successful</h1>
    <p>Thank you for registering!</p>
{% endblock %}
