/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Styles de base */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333333;
    text-align: center; /* Centrer le texte */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(90deg, #a84caf, #4e2e7d);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content h1 {
    margin: 0;
    font-size: 2.5em;
}

.social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #d3a5e1; /* Light green */
}

/* Navigation Bar */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-bottom: 2px solid #ba79a3;
    color:  #ba79a3;
}

nav .add {
    background-color: #66bb6a; /* Medium Green */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 10px;
}

nav .add:hover {
    background-color: #388e3c; /* Dark Green */
    transform: translateY(-3px);
}

/* Main Content */
main {
    flex: 1;
    /* max-width: 1200px; */
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.image-container img:hover {
    transform: scale(1.05);
}

.image-container .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    background-color: rgba(56, 142, 60, 0.8); /* Semi-transparent dark green */
    padding: 20px;
    border-radius: 10px;
}

.image-container a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #388e3c; /* Dark Green */
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
    font-weight: 700;
}

.image-container a:hover {
    background-color: #2e7d32; /* Darker Green */
    transform: translateY(-3px);
}

/* Section Styling */
section {
    margin: 20px 0;
    padding: 30px;
    background-color: #e1c7dc; /* Very light green background */
    border-radius: 10px;
    border: 1px solid #c5e1a5; /* Light green border */
    text-align: center; /* Centrer le texte */
}

section h2 {
    color: #77388e; /* Dark Green */
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 700;
}

section p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 20px;
}

/* Carrousel Styling */
.carousel {
    position: relative;
    width: 80%; /* Réduire la largeur du carrousel */
    max-width: 800px; /* Limite maximale de la largeur */
    margin: 0 auto; /* Centrer le carrousel */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.carousel img.active {
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.brocante-section {
    text-align: center;
    margin-bottom: 20px;
}

.brocante-section ul {
    list-style-type: none;
    padding: 0;
}

.brocante-section li {
    display: inline;
    margin: 0 10px;
}

/* Product Cards */

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    background-color: #f8f9fa; /* Couleur de fond légère pour un contraste doux */
    border-radius: 15px; /* Bords légèrement plus arrondis */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Ombre plus large pour un effet flottant */
    margin: 20px;
    padding: 25px; /* Plus d'espace intérieur */
    text-align: left; /* Texte aligné à gauche pour un design plus traditionnel */
    width: 320px; /* Un peu plus large pour mieux contenir le contenu */
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation sur hover */
    overflow: hidden; /* Eviter les débordements de texte */
    cursor: pointer; /* Pointer pour une sensation d'interaction */
    
}

.product-card a {
    color: #2dc628;
    text-decoration: none;
}

.product-card:hover {
    transform: translateY(-5px); /* Légère élévation sur hover */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2); /* Ombre plus profonde sur hover */
}

.product-card img {
    border-radius: 10px;
    max-width: 100%;
    transition: transform 0.3s ease; /* Animation de zoom sur hover */
}

.product-card img:hover {
    transform: scale(1.05); /* Légère expansion sur hover */
}

.product-card h3 {
    margin: 15px 0;
    font-size: 1.4em; /* Taille de police augmentée pour plus d'impact */
    color: #343a40; /* Couleur de texte plus foncée */
}

.product-card p {
    color: #6c757d; /* Couleur de texte subtile pour les descriptions */
    line-height: 1.5; /* Meilleure lisibilité */
    margin-bottom: 15px;
}

.product-card .price {
    color: #28a745; /* Couleur verte pour indiquer un prix attractif */
    font-size: 1.4em; /* Taille de police légèrement augmentée */
    font-weight: bold; /* Texte en gras pour mettre en évidence */
    margin: 10px 0;
}

.product-card .info-link {
    color: #007bff; /* Couleur bleue pour attirer l'attention */
    text-decoration: none;
    font-weight: bold;
    display: inline-block; /* S'assure que le lien prend un espace défini */
    margin-top: 10px;
    padding: 5px 10px; /* Ajoute un peu de rembourrage au lien */
    border-radius: 5px; /* Bords arrondis */
    transition: background-color 0.3s ease, color 0.3s ease; /* Douce transition sur hover */
}

.product-card .info-link:hover {
    background-color: #007bff; /* Fond bleu sur hover */
    color: white; /* Texte blanc sur hover */
}

.product-card .favorite-btn {
    background-color: #ffc107; /* Jaune pour le bouton non sélectionné */
    border: none;
    color: white;
    border-radius: 50%;
    padding: 12px;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    top: 15px; /* Position ajustée */
    right: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animation douce sur hover */
}

.product-card .favorite-btn:hover {
    transform: scale(1.1); /* Légère expansion sur hover */
    background-color: #e0a800; /* Jaune plus foncé sur hover */
}

.product-card .favorite-btn.favorited {
    background-color: #dc3545; /* Rouge pour l'état favorisé */
}

.product-card .favorite-btn.favorited:hover {
    background-color: #c82333; /* Rouge plus foncé sur hover */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Place the footer at the bottom of the page */
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #a74caf;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

/* Form */
.form-container {
    max-width: 800px; /* Augmenter la largeur maximale */
    width: 90%; /* S'assurer que le formulaire occupe 90% de la largeur disponible */
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left; /* Align form elements to the left */
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
textarea,
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Specific background for .main */
.main {
    background-image: url('/assets/img/thumbnails/pathway-2289978_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Product Detail */
.product-detail {
    text-align: left;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.product-detail h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #87388e; /* Dark Green */
}

.product-detail img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.product-detail p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.product-detail .price {
    font-size: 1.5em;
    font-weight: bold;
    color: #af4c82;
    margin-bottom: 20px;
}

.product-detail .delete-button,
.product-detail a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.product-detail .delete-button:hover,
.product-detail a:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.product-detail .favorite-link {
    color: red;
    font-size: 1.5em;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.product-detail .favorite-link:hover {
    color: #e60000;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: inherit;;
}

.product-header h3 {
    margin: 0;
    font-size: 1.5em;
}

.favorite-link i {
    font-size: 1.8em; /* Augmente la taille de l'icône de favoris */
    color: rgb(243, 243, 245); /* Change la couleur de l'icône (par défaut rouge) */
    margin-left: 10px;
}

.favorite-link.favorited i {
    color: rgb(128, 0, 96); /* Change la couleur lorsque le produit est favori */
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-description {
    font-size: 1.2em;
    margin: 10px 0;
}

.price {
    font-size: 1.5em;
    color: green;
    margin: 10px 0;
}

.product-actions {
    display: flex;
    gap: 10px;
}

button, .info-link, .update-link {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.product-detail-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.favorite-link {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #dc3545;
    text-decoration: none;
    transition: color 0.3s;
}

.favorite-link.favorited {
    color: #28a745;
}


.product-detail-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.product-overview {
    display: flex;
    gap: 20px;
}

.product-images {
    flex: 1;
    text-align: center;
}

.product-image-main {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.thumbnail-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-thumbnail:hover {
    transform: scale(1.1);
}

.product-info {
    flex: 2;
}

.product-info p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 15px;
}

.price {
    font-size: 1.8em;
    color: #28a745;
    margin-bottom: 20px;
}

.delete-button,
.update-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.delete-button:hover,
.update-link:hover {
    background-color: #0056b3;
}

.product-card {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 25px;
    text-align: left;
    width: 100%; /* Utiliser toute la largeur disponible */
    max-width: 350px; /* Limite la largeur maximale de la carte */
    max-height: 450px; /* Limite la hauteur maximale de la carte */
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.product-card img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 200px; /* Limite la hauteur de l'image */
    object-fit: cover; /* Garde les proportions tout en remplissant l'espace */
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
